@model JPP.BL.Domain.Antwoorden.AgendaAntwoord

@{
    ViewBag.Title = "Wijzig agenda antwoord";
}

<h2>Wijzig agenda antwoord</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Agenda Antwoord</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.stemmen)
        @Html.HiddenFor(model => model.flags)

        <div class="form-group">
            <label class="control-label col-md-2">Titel</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.titel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Subtitel</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.subtitel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subtitel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Inhoud</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.inhoud, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.inhoud, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Extra info</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.extraInfo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.extraInfo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Datum</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.datum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datum, "", new { @class = "text-danger" })
            </div>
        </div>

 

        <div class="form-group">
            <label class="control-label col-md-2">Gebruikersnaam</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.gebruikersNaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gebruikersNaam, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Status online</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.statusOnline)
                    @Html.ValidationMessageFor(model => model.statusOnline, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("AgdModules","Module")"><img src="~/Images/page icons/goBack2.png" /> Ga terug</a>
</div>

