@model PagedList.IPagedList<JPP.BL.Domain.Antwoorden.Antwoord>
@using PagedList
@using PagedList.Mvc
@using Microsoft.AspNet.Identity
@{

    Layout = "";
    var zelfdeGebruiker = false;
}

@if (Model.Count != 0) {
<div id="moduleLeftMenuSection">

    <ul>
        @if (Request.Url.AbsoluteUri.Contains("top5"))
        {
            <li id="activeSort"><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top5SortParm }, null)">Top 5</a></li>
            <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top25SortParm }, null)">Top 25</a></li>
            <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.RecentSortParm }, null)">Meest recente</a></li>

        }
        else if (Request.Url.AbsoluteUri.Contains("top25"))
        {
            <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top5SortParm }, null)">Top 5</a></li>
            <li id="activeSort"><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top25SortParm }, null)">Top 25</a></li>
            <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.RecentSortParm }, null)">Meest recente</a></li>

        }
        else if (Request.Url.AbsoluteUri.Contains("recent"))
        {
            <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top5SortParm }, null)">Top 5</a></li>
            <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top25SortParm }, null)">Top 25</a></li>
            <li id="activeSort"><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.RecentSortParm }, null)">Meest recente</a></li>

        }
        else
        {
            <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top5SortParm }, null)">Top 5</a></li>
            <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top25SortParm }, null)">Top 25</a></li>
            <li id="activeSort"><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.RecentSortParm }, null)">Meest recente</a></li>

        }



    </ul>


</div>

<div id="antwoordlijstWrapper">
    @if (ViewBag.Aantal > 1)
    {

        <h2>@ViewBag.Aantal  Antwoorden</h2>
    }
    else if (ViewBag.Aantal == 1)
    {
        <h2>@ViewBag.Aantal  Antwoord</h2>
    }

    <p id="antwoordlijstCreateSection">
        <img src="~/Images/page icons/new.png" alt="Alternate Text" />
        @Html.ActionLink("Nieuw oplossing", "AdjAgendaAntwoord","Antwoord")
    </p>
    <div id="pager">

        @Html.PagedListPager(Model, page => Url.Action("_partialAgendaAntwoordLijst",
             new { page, sortOrder = ViewBag.CurrentSort }))
    </div>
    @foreach (var item in Model)
    {
        if (User.Identity.GetUserName().Equals(item.gebruikersNaam))
        {
            zelfdeGebruiker = true;

        }
        else
        {
            zelfdeGebruiker = false;
        }

        if (zelfdeGebruiker)
        {
            <p id="WijzigVerwijderButtons">
                @Html.ActionLink("Wijzig", "_Wijzig", new { id = item.ID, type = "ActieveAgendaModule" })
                @Html.ActionLink(" | Verwijder", "Verwijder", new { id = item.ID, type = "ActieveAgendaModule" })
            </p>

        }
        if (ViewBag.winnaar == item.stemmen.Count)
        {
            <div id="tableAntwoordWinnaar" onclick="goToPagina(this)">
                <table class="table-fill-actief">
                    <tbody class="table-hover">
                        <tr>

                            @if (ViewBag.winnaar == item.stemmen.Count)
                            {
                                <td id="aantalStemmenWinnaar">
                                    <img src="~/Images/Winnaars/NumberOne.png" />
                                </td>
                            }
                            else
                            {
                                <td id="aantalStemmen">
                                    <img src="~/Images/dossier-white.png" />
                                </td>
                            }


                           
                            <td id="antwoordInhoud">
                                <div id="HideOnHover">
                                    @Html.DisplayFor(modelItem => item.titel)
                                    <div id="DossierVoteUpDetect" class="DossierVoteUpwrap">
                                        <div class="votes">+@Html.DisplayFor(modelItem => item.stemmen.Count)</div>
                                        <a id="DossierVoteUpbuttonWrapper" href="@Url.Action("VoteUpAgenda", "Module", new { id = item.ID })"><div class="DossierVoteUpbutton"><i class="fa fa-arrow-up"></i>Vote this up</div></a>
                                    </div>
                                    <br />
                                    <h4 id="DossierLijstHvier">@Html.DisplayFor(modelItem => item.subtitel)</h4>
                                </div>
                                <div id="ShowOnHover">




                                    <p id="extraInfoParagraaf">
                                        Gebruiker:
                                        @if (zelfdeGebruiker)
                                        {

                                            <a id="antwoordInhoudTwo" href="@Url.Action("Profiel", "Gebruiker", new { UserName = item.gebruikersNaam })"><span id="zelfdeGebruikerSpan">@item.gebruikersNaam</span></a>
                                        }
                                        else
                                        {
                                            <a id="antwoordInhoudTwo" href="@Url.Action("Profiel", "Gebruiker", new { UserName = item.gebruikersNaam })">
                                                <span id="zelfdeGebruikerSpan">@item.gebruikersNaam</span>
                                            </a>
                                        }
                                        | <span id="extrainfoSpan">Datum: </span> @item.datum
                                        <br />
                                        <a id="FlagButton" href="@Url.Action("FlagAntwoord", "Flag", new { id = item.ID, type="Agenda" })"><img src="~/Images/IconsForPages/RedFlag.png" /></a>
                                    </p>
                                    <div id="DossierVoteUpDetect" class="DossierVoteUpwrap">
                                        <div class="votes">+@Html.DisplayFor(modelItem => item.stemmen.Count)</div>
                                        <a id="DossierVoteUpbuttonWrapper" href="@Url.Action("VoteUpAgenda", "Module", new { id = item.ID })"><div class="DossierVoteUpbutton"><i class="fa fa-arrow-up"></i>Vote this up</div></a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <a id="paginaLink" href="@Url.Action("Agenda", "Antwoord", new {id = item.ID})"></a>

            </div>
        }
        else
        {
            <div id="tableAntwoord" onclick="goToPagina(this)">
                <table class="table-fill-actief">
                    <tbody class="table-hover">
                        <tr>
                            @if (ViewBag.winnaar == item.stemmen.Count)
                            {
                                <td id="aantalStemmenWinnaar">
                                    <img src="~/Images/Winnaars/NumberOne.png" />
                                </td>
                            }
                            else
                            {
                                <td id="aantalStemmen">
                                    <img src="~/Images/dossier-white.png" />
                                </td>
                            }


                            

                            <td id="antwoordInhoud">
                                <div id="HideOnHover">
                                    @Html.DisplayFor(modelItem => item.titel)
                                    <div id="DossierVoteUpDetect" class="DossierVoteUpwrap">
                                        <div class="votes">+@Html.DisplayFor(modelItem => item.stemmen.Count)</div>
                                        <a id="DossierVoteUpbuttonWrapper" href="@Url.Action("VoteUpAgenda", "Module", new { id = item.ID })"><div class="DossierVoteUpbutton"><i class="fa fa-arrow-up"></i>Vote this up</div></a>
                                    </div>
                                    <br />
                                    <h4 id="DossierLijstHvier">@Html.DisplayFor(modelItem => item.subtitel)</h4>
                                </div>
                                <div id="ShowOnHover">
                                    



                                    <p id="extraInfoParagraaf">
                                        Gebruiker:
                                        @if (zelfdeGebruiker)
                                        {

                                            <a id="antwoordInhoudTwo" href="@Url.Action("Profiel", "Gebruiker", new { UserName = item.gebruikersNaam })"><span id="zelfdeGebruikerSpan">@item.gebruikersNaam</span></a>
                                        }
                                        else
                                        {
                                            <a id="antwoordInhoudTwo" href="@Url.Action("Profiel", "Gebruiker", new { UserName = item.gebruikersNaam })">
                                                <span id="zelfdeGebruikerSpan">@item.gebruikersNaam</span>
                                            </a>
                                        }
                                        | <span id="extrainfoSpan">Datum: </span> @item.datum
                                        <br />
                                        <a id="FlagButton" href="#"><img src="~/Images/IconsForPages/RedFlag.png" /></a>
                                    </p>
                                    <div id="DossierVoteUpDetect" class="DossierVoteUpwrap">
                                        <div class="votes">+@Html.DisplayFor(modelItem => item.stemmen.Count)</div>
                                        <a id="DossierVoteUpbuttonWrapper" href="@Url.Action("VoteUpAgenda", "Module", new { id = item.ID })"><div class="DossierVoteUpbutton"><i class="fa fa-arrow-up"></i>Vote this up</div></a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <a id="paginaLink" href="@Url.Action("Agenda", "Antwoord", new {id = item.ID})"></a>

            </div>
        }



        <script>

            function goToPagina(element) {
                window.location = $(element).find("#paginaLink").attr("href");
                return false;
            };
        </script>

    }


</div>

    <script>
        $(function () {
            $('#pager').on('click', 'a', function () {
                if (this.href == "") { return; }
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#antwoorden').html(result);
                    }
                });
                return false;
            });
        });

    </script>
}