@model PagedList.IPagedList<JPP.BL.Domain.Antwoorden.Antwoord>
@using PagedList
@using PagedList.Mvc
@using Microsoft.AspNet.Identity

@{
    Layout = "";
    var zelfdeGebruiker = false;
}
<div id="moduleLeftMenuSection">

    <ul>
        <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.Top25SortParm }, null)">Top 25</a></li>
        <li><a href="@Url.Action("Agenda", "Module", new { sortOrder = ViewBag.RecentSortParm }, null)">Meest recente</a></li>

    </ul>


</div>
<div id="antwoordlijstWrapper">



    @if (ViewBag.Aantal > 1)
    {

        <h2>@ViewBag.Aantal  Antwoorden</h2>
    }
    else if (ViewBag.Aantal == 1)
    {
        <h2>@ViewBag.Aantal  Antwoord</h2>
    }

    <p id="antwoordlijstCreateSection">
        <img src="~/Images/page icons/new.png" alt="Alternate Text" />
        @Html.ActionLink("Nieuw oplossing", "Create")
    </p>

    <div id="pager">
        @Html.PagedListPager(Model, page => Url.Action("_partialAntwoordLijst",
    new { page }))
    </div>
    @foreach (var item in Model)
    {
        if (User.Identity.GetUserName().Equals(item.gebruikersNaam))
        {
            zelfdeGebruiker = true;

        }
        else
        {
            zelfdeGebruiker = false;
        }

        <p id="extraInfoParagraaf">
            <span id="extrainfoSpan">
                Gebruiker:
            </span>
            @if (zelfdeGebruiker)
            {

                <a id="extrainfoSpan" href="@Url.Action("Profiel", "Gebruiker", new { UserName = item.gebruikersNaam })"><span id="zelfdeGebruikerSpan">@item.gebruikersNaam</span></a>
            }
            else
            {
                <a id="extrainfoSpan" href="@Url.Action("Profiel", "Gebruiker", new { UserName = item.gebruikersNaam })">
                    <span>@item.gebruikersNaam</span>
                </a>
            }
            | <span id="extrainfoSpan">Datum: </span> @item.datum
        </p>

        if (zelfdeGebruiker)
        {
            @Html.ActionLink("Wijzig", "Edit", new { id = item.ID })
        }

        <div id="tableAntwoord" onclick="goToPagina(this)">
            <table class="table">

                <tr>
                    <td id="aantalStemmen">
                        +@Html.DisplayFor(modelItem => item.aantalStemmen)
                    </td>

                    <td id="antwoordInhoud">
                        @Html.DisplayFor(modelItem => item.titel)

                    </td>

                </tr>

            </table>
            <a id="paginaLink" href="@Url.Action("Dossier", "Antwoord", new {id = item.ID})"></a>

        </div>


        <script>

            function goToPagina(element) {
                window.location = $(element).find("#paginaLink").attr("href");
                return false;
            };
        </script>
    }



</div>
    <script>



        $(function () {
            $('#pager').on('click', 'a', function () {
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#antwoorden').html(result);
                    }
                });
                return false;
            });
        });

    </script>
