@model JPP.BL.Domain.Antwoorden.DossierAntwoord

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "DossierModelThree";
}


<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    function initialize() {
        var mapCanvasThree = document.getElementById('map-canvasThree');
        var mapOptionsThree = {
            center: new google.maps.LatLng(44.5403, -78.5463),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvasThree, mapOptionsThree)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div id="AdjustableButtonWrapper">
    <div id="OptionsbarTitle">1. Kies je Layout</div>
    <div id="AdjButtonWrapper">
        <button id="AdjButtonFive"> <img id="MainFilterImgOJ" src="~/Images/DossierModel/Layout 1.png" onclick="location.href='@Url.Action("AdjustableDossierModelOne", "Antwoord")'" /> </button>
        <button id="AdjButtonTwo"> <img id="MainFilterImgAZ" src="~/Images/DossierModel/Layout 2.png" onclick="location.href='@Url.Action("AdjustableDossierModelTwo", "Antwoord")'" /> </button>
        <button id="AdjButtonThree"> <img id="MainFilterImgZA" src="~/Images/DossierModel/Layout 3.png" onclick="location.href='@Url.Action("AdjustableDossierModelThree", "Antwoord")'" /> </button>
        <button id="AdjButtonThree"> <img id="MainFilterImgZA" src="~/Images/DossierModel/Layout 4.png" onclick="location.href='@Url.Action("AdjustableDossierModelFive", "Antwoord")'" /> </button>
        <button id="AdjButtonSix"> <img id="MainFilterImgJO" src="~/Images/DossierModel/Layout 5.png" onclick="location.href='@Url.Action("AdjustableDossierModelSix", "Antwoord")'" /> </button>
        </div>
    </div>

@using (Html.BeginForm("", "Antwoord/AdjustableDossierModelThree", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div id="OptionsBar">
        <div id="OptionsbarTitle">2. Personaliseer</div>
        <div id="AdjCleanUp">

            <div id="googlemaps">Google maps informatie:@Html.TextBoxFor(model => model.googleMapsAdress) @Html.ValidationMessageFor(model => model.googleMapsAdress)</div>
            <!--<input type="text" name="googleMaps" />-->
            <div id="persoonlijkeTags">Persoonlijke Tags: @Html.TextBoxFor(model => model.persoonlijkeTags)</div>
            <div id="foregroundColor">Kleur van tekst: @Html.TextBoxFor(model => model.foregroundColor)</div>
            <div id="backgroundColor">Kleur van achtergrond: @Html.TextBoxFor(model => model.backgroundColor)</div>


        </div>
    </div>

    <div id="OptionsbarTitleHead">3. Creëer je eigen pagina!</div>

    @Html.TextAreaFor(model => model.titel, new { @class = "AdjDossierModelTitle" })
    @Html.ValidationMessageFor(model => model.titel)
    @*<textarea id="AdjDossierModelSubTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec hendrerit metus. Sed sodales rhoncus nibh, a convallis quam lacinia ut.</textarea>*@ <!--Hier moet de subtitel(beknopte uitleg) van de pagina komen-->
        @Html.TextAreaFor(model => model.subtitel, new { @class = "AdjDossierModelSubTitle" })
        @Html.ValidationMessageFor(model => model.subtitel)

    <div id="DossierModelTwoAfbeelding">
        <img src="@Url.Content(Model.afbeeldingPath)" />

       

        @Html.TextAreaFor(model => model.inhoud, new { @class = "AdjDossierModelThreeTextVakEen" })
        @Html.ValidationMessageFor(model => model.inhoud)
    </div><!--Hier moet de afbeelding van de pagina komen-->

    <label id="fileUploadLabel" for="file">Selecteer een afbeelding</label>
    <input id="fileUploadInput" type="file" name="file" />


<div id="TextWrapperThree">

    <div id="TweeTextvakWrapperThree">
        @Html.TextAreaFor(model => model.textvak2, new { @class = "AdjDossierModelTwoTextVakTwee" })
        @Html.ValidationMessageFor(model => model.textvak2)

        @*<textarea id="DossierModelTextVakDrie"> condimentum magna ac ultricies posuere. Cras viverra velit lectus, vel pretium nulla posuere sit amet.

            Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus, vel pretium nulla posuere sit amet.</textarea>*@<!--Hier moet de derde textvak van de pagina komen-->
        @Html.TextAreaFor(model => model.textvak3, new { @class = "AdjDossierModelTwoTextVakDrie" })
        @Html.ValidationMessageFor(model => model.textvak3)
    </div>

    <div id="map-canvasThree"></div>

</div>
<div id="DossierModelThreeTag"> <p>Tags: Feestzaal, Fietsen, Station</p></div> <!--Hier moet de Tag van de pagina komen-->

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Bevestig" class="btn btn-default" />
        </div>
    </div>
    }