@model JPP.BL.Domain.Antwoorden.AgendaAntwoord


@{
    ViewBag.Title = "Blokkeer antwoord";
}

@if (Model.statusOnline == true)
{
    <h2>Blokkeer antwoord</h2>

    <h3>Wilt u deze antwoord blokkeren?</h3>
}
else
{
    <h2>Deblokkeer antwoord</h2>

    <h3>Wilt u deze antwoord deblokkeren?</h3>
}

<div>
    <h4>Agenda Antwoord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Inhoud:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inhoud)
        </dd>
        <dt>
            Titel:
        </dt>

        <dd>
            @Model.titel

        </dd>
        <dt>
            Subtitel:
        </dt>

        <dd>
            @Model.subtitel

        </dd>
        <dt>
            Aangemaakt op:
        </dt>

        <dd>
            @Model.datum

        </dd>
        <dt>
            Gebruiker
        </dt>

        <dd>
            @Model.gebruikersNaam

        </dd>

        <dt>
            Aantal stemmen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stemmen.Count)
        </dd>
        <dt>
           Aantal flags
        </dt>

        <dd>
           @Model.flags.Count
        </dd>
        
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.statusOnline == true)
            {
                ViewBag.Title = "Blokkeer antwoord";

                <input type="submit" value="Blokkeer" class="btn btn-default" />
            }
            else
            {
                ViewBag.Title = "Deblokkeer antwoord";
                <input type="submit" value="Deblokkeer" class="btn btn-default" />
            }

    
        </div>
    }
</div>

