@model JPP.BL.Domain.Antwoorden.DossierAntwoord

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "eigenpagina";

    var base64 = Convert.ToBase64String(Model.afbeeldingByte);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}
<link rel="stylesheet" type="text/css" href="~/Content/DossierModelOne.css">


<script type="text/javascript">
    @*var gecoder;


        geocoder = new google.maps.Geocoder();
        //var mapCanvas = document.getElementById('map-canvas');
        //var mapOptions = {
        //    center: new google.maps.(44.5403, -78.5463),
        //    zoom: 8,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //}
        //var map = new google.maps.Map(mapCanvas, mapOptions)
        @*var sAddress = @(Model.googleMapsAdress);
        geocoder.geocode( { 'address': sAddress}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK){
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
                
            });
            alert("Gelukt!");
        } else{
            alert("Geocode was not successfull for the following reason: " + status);
        } });*@
    
    var adress

    
</script>


<script src="~/Scripts/TimeLine.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/TimeLine.css">

@if (Model.evenementen.Count == 0)
{
    //nothing happens
}
else if (Model.evenementen.Count == 1)
{
    if (Model.module.eindDatum < DateTime.Now)
    {
        <div id="TimeLineWrapper">
            <div id="timeline">
                <div class="dot" id="one">
                    <span id="dotSpan"></span>
                    <h3>@Model.evenementen.ElementAt(0).startDatum</h3>
                </div>
            </div>

        </div>



        <article class='modal one'>
            <h4>@(Model.evenementen.ElementAt(0).startDatum) - @(Model.evenementen.ElementAt(0).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(0).title)</h2>
            <p>@(Model.evenementen.ElementAt(0).locatie) <br />@(Model.evenementen.ElementAt(0).evenementText)</p>
        </article>


    }
}
else if (Model.evenementen.Count == 2)
{
    if (Model.module.eindDatum < DateTime.Now)
    {
        <div id="TimeLineWrapper">
            <div id="timeline">
                <div class="dot" id="one">
                    <span id="dotSpan"></span>
                    <h3>@Model.evenementen.ElementAt(0).startDatum</h3>
                </div>
                <div class="dot" id="two">
                    <span id="dotSpan"></span>
                    <h3>@Model.evenementen.ElementAt(1).startDatum</h3>
                </div>

                <div class="inside"></div>
            </div>

        </div>



        <article class='modal one'>
            <h4>@(Model.evenementen.ElementAt(0).startDatum) - @(Model.evenementen.ElementAt(0).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(0).title)</h2>
            <p>@(Model.evenementen.ElementAt(0).locatie) <br />@(Model.evenementen.ElementAt(0).evenementText)</p>
        </article>

        <article class='modal two'>
            <h4>@(Model.evenementen.ElementAt(1).startDatum) - @(Model.evenementen.ElementAt(1).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(1).title)</h2>
            <p>@(Model.evenementen.ElementAt(1).locatie) <br />@(Model.evenementen.ElementAt(1).evenementText)</p>
        </article>


    }
}
else if (Model.evenementen.Count == 3)
{
    if (Model.module.eindDatum < DateTime.Now)
    {
        <div id="TimeLineWrapper">
            <div id="timeline">
                <div class="dot" id="one">
                    <span id="dotSpan"></span>
                    <h3>@Model.evenementen.ElementAt(0).startDatum</h3>
                </div>
                <div class="dot" id="two">
                    <span id="dotSpan"></span>
                    <h3>@Model.evenementen.ElementAt(1).startDatum</h3>
                </div>
                <div class="dot" id="three">
                    <span id="dotSpan"></span>
                    <h3>@Model.evenementen.ElementAt(2).startDatum</h3>
                </div>
                <div class="inside"></div>
            </div>

        </div>



        <article class='modal one'>
            <h4>@(Model.evenementen.ElementAt(0).startDatum) - @(Model.evenementen.ElementAt(0).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(0).title)</h2>
            <p>@(Model.evenementen.ElementAt(0).locatie) <br />@(Model.evenementen.ElementAt(0).evenementText)</p>
        </article>

        <article class='modal two'>
            <h4>@(Model.evenementen.ElementAt(1).startDatum) - @(Model.evenementen.ElementAt(1).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(1).title)</h2>
            <p>@(Model.evenementen.ElementAt(1).locatie) <br />@(Model.evenementen.ElementAt(1).evenementText)</p>
        </article>

        <article class='modal three'>
            <h4>@(Model.evenementen.ElementAt(2).startDatum) - @(Model.evenementen.ElementAt(2).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(2).title)</h2>
            <p>@(Model.evenementen.ElementAt(2).locatie) <br />@(Model.evenementen.ElementAt(2).evenementText)</p>
        </article>


    }
}
else
{
    if (Model.module.eindDatum < DateTime.Now)
    {
        <div id="TimeLineWrapper">
            <div id="timeline">
                <div class="dot" id="one">
                    <span id="dotSpan"></span>
                    <h3>@(Model.evenementen.ElementAt(0).startDatum.ToShortDateString())</h3>
                </div>
                <div class="dot" id="two">
                    <span id="dotSpan"></span>
                    <h3>@(Model.evenementen.ElementAt(1).startDatum.ToShortDateString())</h3>
                </div>
                <div class="dot" id="three">
                    <span id="dotSpan"></span>
                    <h3>@(Model.evenementen.ElementAt(2).startDatum.ToShortDateString())</h3>
                </div>
                <div class="dot" id="four">
                    <span id="dotSpan"></span>
                    <h3>@(Model.evenementen.ElementAt(3).startDatum.ToShortDateString())</h3>
                </div>
                <div class="inside"></div>
            </div>

        </div>



        <article class='modal one'>
            <h4>@(Model.evenementen.ElementAt(0).startDatum) - @(Model.evenementen.ElementAt(0).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(0).title)</h2>
            <p>@(Model.evenementen.ElementAt(0).locatie) <br />@(Model.evenementen.ElementAt(0).evenementText)</p>
        </article>

        <article class='modal two'>
            <h4>@(Model.evenementen.ElementAt(1).startDatum) - @(Model.evenementen.ElementAt(1).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(1).title)</h2>
            <p>@(Model.evenementen.ElementAt(1).locatie) <br />@(Model.evenementen.ElementAt(1).evenementText)</p>
        </article>

        <article class='modal three'>
            <h4>@(Model.evenementen.ElementAt(2).startDatum) - @(Model.evenementen.ElementAt(2).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(2).title)</h2>
            <p>@(Model.evenementen.ElementAt(2).locatie) <br />@(Model.evenementen.ElementAt(2).evenementText)</p>
        </article>

        <article class='modal four'>
            <h4>@(Model.evenementen.ElementAt(3).startDatum) - @(Model.evenementen.ElementAt(3).eindDatum)</h4>
            <h2>@(Model.evenementen.ElementAt(3).title)</h2>
            <p>@(Model.evenementen.ElementAt(3).locatie) <br />@(Model.evenementen.ElementAt(3).evenementText)</p>
        </article>

    }
}




<div id="ModelOneWrapper" style="background-color:@(Model.backgroundColor)">

    <div id="DossierModelTitle"> <h1>@(Model.titel)</h1></div><!--Hier moet de titel van de pagina komen-->
    <div id="DossierModelSubTitle"> <h2>@(Model.subtitel)</h2></div> <!--Hier moet de subtitel(beknopte uitleg) van de pagina komen-->
    <div id="DossierModelAfbeelding">
        <img src="@imgSrc" />
        <div id="DossierModelTextVakEen" style="color:@(Model.foregroundColor)">
            <p>@(Model.inhoud)</p>

        </div><!--Hier moet de eerste textvak van de pagina komen-->


    </div><!--Hier moet de afbeelding van de pagina komen-->


    <div id="TweeTextvakWrapper">
        <div id="DossierModelTextVakTwee" style="color:@(Model.foregroundColor)">
            <p>
                @(Model.textvak2)
            </p>
        </div><!--Hier moet de tweedetextvak van de pagina komen-->

        <div id="DossierModelTextVakDrie" style="color:@(Model.foregroundColor)">
            <p>
                @(Model.textvak3)
            </p>
        </div><!--Hier moet de derde textvak van de pagina komen-->
    </div>


    @*<div id="map-canvas"></div>*@
    <iframe id="map-canvas" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCjNN44_-PQjX5l5Tl6Ys5uSi5vs9EtAHg &q=@(Model.googleMapsAdress)"></iframe>
    <div id="DossierModelTag"> <p>Tags: Feestzaal, Fietsen, Station</p></div> <!--Hier moet de Tag van de pagina komen-->
    @using (Html.BeginForm("DossierModelOne", "Antwoord", new { id = Model.ID }, FormMethod.Post))
    {
        if (Model.statusOnline == false)
        {
            <button type="submit">Publish!</button>
        }
    }
</div>
