@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "DosierModelFive";
}
<link rel="stylesheet" type="text/css" href="~/Content/DossierModelOne.css">




<div id="DossierModelTitle"> <h1>@(Model.titel)</h1></div><!--Hier moet de titel van de pagina komen-->
<div id="DossierModelSubTitle"> <h2>@(Model.subtitel)</h2></div> <!--Hier moet de subtitel(beknopte uitleg) van de pagina komen-->


<div id="DossierModelTwoAfbeelding">
        <img src=@(Model.afbeeldingPath) />

    <iframe id="map-canvasTwo" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCjNN44_-PQjX5l5Tl6Ys5uSi5vs9EtAHg &q=@(Model.googleMapsAdress)"></iframe>

    </div><!--Hier moet de afbeelding van de pagina komen-->

<div id="DossierModelTwoTag"> <p>Tags: Feestzaal, Fietsen, Station</p></div> <!--Hier moet de Tag van de pagina komen-->





<div id="DossierModelSixTextVakEen">
    <p>@(Model.inhoud)</p>

</div><!--Hier moet de eerste textvak van de pagina komen-->

    <div id="TweeTextvakWrapperSix">
            <div id="DossierModelTextVakTwee">
                <p>
                    @(Model.textvak2)
                </p>
            </div><!--Hier moet de tweedetextvak van de pagina komen-->

            <div id="DossierModelTextVakDrie">
                <p>
                    @(Model.textvak3)
                </p>
            </div><!--Hier moet de derde textvak van de pagina komen-->
        </div>


