@model PagedList.IPagedList<JPP.BL.Domain.Antwoorden.Antwoord>
@using PagedList
@using PagedList.Mvc
@{
 Layout ="";
}

@using (Html.BeginForm())
{
    
    <p>
        <div id="BoxesWrapper">
            <div id="searchbox">
                @Html.TextBox("SearchString")
            </div>

            <input type="submit" value="" class="imgClass" />


            <button id="MainFilterJO"> <img id="MainFilterImgJO" src="~/Images/sortFlip.png" /> </button>
            <button id="MainFilterOJ"> <img id="MainFilterImgOJ" src="~/Images/sort.png" /> </button>
            <button id="MainFilterZA"> <img id="MainFilterImgZA" src="~/Images/iconmonstr-sort-16-icon-256.png" /> </button>
            <button id="MainFilterAZ"> <img id="MainFilterImgAZ" src="~/Images/iconmonstr-sort-14-icon-256.png" /> </button>

            
        </div>
    </p>
    
    
}
<div id="pager">
    @Html.PagedListPager(Model, page => Url.Action("homePartialAntwoorden",
    new { page }))
</div>
    <div id="homeMidContent">

        @foreach (var item in Model)
        {
            <div id="homeTable">
                <img src="~/Images/dossier-white.png" alt="Alternate Text" />
                <h1>
                    @Html.DisplayFor(modelItem => item.titel)
                </h1>
                <div id="likes" onclick="goToPagina(this)">
                    <p>Aantal stemmen</p>
                    <p>@Html.DisplayFor(modelItem => item.aantalStemmen)</p>
                    @if (item.GetType().Name.Substring(0, 15) == "DossierAntwoord")
                    {

                        <a id="paginaLink" href="@Url.Action("Dossier", "Antwoord", new {id = item.ID})">DossAntw</a>
                    }
                    else
                    {
                        <a id="paginaLink" href="@Url.Action("Agenda", "Antwoord", new {id = item.ID})">AgendaAntw</a>
                    }
                </div>
                <script>

                    function goToPagina(element) {
                        window.location = $(element).find("#paginaLink").attr("href");
                        return false;
                    };
                </script>
               

            </div>
            
           
            

        }

    </div>
    



<script>
    $(function () {
        $('#pager').on('click', 'a', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#homeMid').html(result);
                }
            });
            return false;
        });
    });

</script>


