@model PagedList.IPagedList<JPP.BL.Domain.Modules.Module>
@using PagedList
@using PagedList.Mvc
@{

    Layout = "";
}

<div id="homeTitelHeader">Alle toekomstige thema's</div>

<div class="table-title">
    <h3>Toekomstige Modules</h3>
</div>

<div id="VolgOpLayout">
    <div onclick="goToPagina(this)">
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-left">
                        Begin datum
                    </th>
                    <th class="text-left">
                        Eind datum
                    </th>
                    <th>
                        Vraag
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody class="table-hover">
                    <tr>
                        <td class=" text-left">
                            @Html.DisplayFor(modelItem => item.beginDatum.Day)/@Html.DisplayFor(modelItem => item.beginDatum.Month)/@Html.DisplayFor(modelItem => item.beginDatum.Year)

                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.eindDatum.Day)/@Html.DisplayFor(modelItem => item.eindDatum.Month)/@Html.DisplayFor(modelItem => item.eindDatum.Year)
</td>
                        <td class="text-left">
                           @Html.DisplayFor(modelItem => item.centraleVraag.inhoud)
</td>
                    </tr>
                </tbody>
                <a id="paginaLink" href="@Url.Action("DossierModuleToekomst","Module", new {id = item.ID})"></a>
            }
        </table>
  
    </div>

</div>

<script>

    function goToPagina(element) {
        window.location = $(element).find("#paginaLink").attr("href");
        return false;
    };
</script>

<div id="pager1">
    @Html.PagedListPager(Model, page => Url.Action("_GeplandeDossierModules",
    new { page }))
</div>

<script>
    $(function () {
        $('#pager1').on('click', 'a', function () {
            if (this.href == "") { return; }
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#geplandeDossierModules').html(result);
                }
            });
            return false;
        });
    });

</script>
