@model PagedList.IPagedList<JPP.BL.Domain.Modules.Module>

<script src="~/Scripts/TimeLine.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/TimeLine.css">

@{
    ViewBag.Title = "Comming soon";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div>
    <div id="homeTitelHeader">Wat verschijnt er in de nabije toekomst?</div>

    <div id="timeline">
        <div class="dot" id="one">
            <span id="dotSpan"></span>
            <h3>@(Model.ElementAt(0).beginDatum.ToShortDateString()) <br /> @(Model.ElementAt(0).naam)</h3>
        </div>
        <div class="dot" id="two">
            <span id="dotSpan"></span>
            <h3>@(Model.ElementAt(1).beginDatum.ToShortDateString()) <br /> @(Model.ElementAt(1).naam)</h3>
        </div>
        <div class="dot" id="three">
            <span id="dotSpan"></span>
            <h3>@(Model.ElementAt(2).beginDatum.ToShortDateString()) <br /> @(Model.ElementAt(2).naam)</h3>
        </div>
        <div class="dot" id="four">
            <span id="dotSpan"></span>
            <h3>@(Model.ElementAt(3).beginDatum.ToShortDateString()) <br /> @(Model.ElementAt(3).naam)</h3>
        </div>
        <div class="inside"></div>
    </div>

</div>


<div id="geplandeDossierModules">
    @{Html.RenderAction("_GeplandeDossierModules","Module");}

</div>




<!-- Modals -->

<article class='modal one'>
    <h4>@(Model.ElementAt(0).beginDatum) - @(Model.ElementAt(0).eindDatum)</h4>
    <h2>@(Model.ElementAt(0).centraleVraag.inhoud)</h2>
    <p>@(Model.ElementAt(0).centraleVraag.extraInfo)</p>
</article>

<article class='modal two'>
    <h4>@(Model.ElementAt(1).beginDatum) - @(Model.ElementAt(1).eindDatum)</h4>
    <h2>@(Model.ElementAt(1).centraleVraag.inhoud)</h2>
    <p>@(Model.ElementAt(1).centraleVraag.extraInfo)</p>
</article>

<article class='modal three'>
    <h4>@(Model.ElementAt(2).beginDatum) - @(Model.ElementAt(2).eindDatum)</h4>
    <h2>@(Model.ElementAt(2).centraleVraag.inhoud)</h2>
    <p>@(Model.ElementAt(2).centraleVraag.extraInfo)</p>
</article>

<article class='modal four'>
    <h4>@(Model.ElementAt(3).beginDatum) - @(Model.ElementAt(3).eindDatum)</h4>
    <h2>@(Model.ElementAt(3).centraleVraag.inhoud)</h2>
    <p>@(Model.ElementAt(3).centraleVraag.extraInfo)</p>
</article>





