@model JPP.BL.Domain.Modules.Module
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div id="UitlegStyleWrapper">
    <div id="uitlegWrapper">
        <h1 id="moduleTitel">
            <br />
                @Model.centraleVraag.inhoud
        </h1>

        <h4 id="centraleVraag">
            @(Model.beginDatum.ToShortDateString()) - @(Model.eindDatum.ToShortDateString())
        </h4>

        <div id="UitlegTextWrapper">
            <h4>
                Heb je, je mening al gegeven op de thema's en vragen die dit moment openstaan?<br />
                <br />
                Waarom bedenk je dan al niet een creatieve oplossing voor de volgende vraag: <br />
                @Model.centraleVraag.inhoud  <br />
                <br />
                Van @(Model.beginDatum.ToShortDateString()) to @(Model.eindDatum.ToShortDateString()) krijg jij de kans om jouw inzicht te geven in dit probleem.  <br />
                Deel uw idee met uw stadsgenoten en haal zoveel mogelijk stemmen.<br />
                Want indien stadsgenoten en vrienden uw mening delen, dan maakt u kans op @(Model.beloning.naam).<br />
                <br />

                We zien u daarom graag terug op @(Model.beginDatum.ToShortDateString()) om @(Model.beginDatum.ToShortTimeString()) , wanneer dit thema actief gezet zal worden.
                Kunt u niet wachten, en hebt u uw mening nog niet gegeven? <br />Klik dan zeker hier: <br />
                <a href="@Url.Action("Menu","Home")">Klik hier</a>
                
            </h4>
        </div>
    </div>
</div>

<div>
    <a href="@Url.Action("CommingSoon","Module")"><img src="~/Images/page icons/goBack2.png" /> Ga terug</a>
</div>


