@model PagedList.IPagedList<JPP.BL.Domain.Modules.Module>
@using PagedList
@using PagedList.Mvc

@{ 
    Layout = "";
    
}

<div id="pager">
    @Html.PagedListPager(Model, page => Url.Action("CommingSoon",
    new { page }))
</div>
<div id="geplandeModules">
@foreach (var item in Model)
{
   
    //<p id="beginDatum">@item.beginDatum</p>

    <div id="moduleTable">

        <p id="beginDatum">@item.beginDatum</p>

        <table class="table">
            <tr>
                <th>
                    Naam
                </th>
                <th>
                    Vraag
                </th>
                <th>
                    Tijd resterend
                </th>

                <th>
                    Auteur
                </th>
                <th>
                    Beloning
                </th>

            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.centraleVraag.inhoud)
                </td>

                <td id="countdowntimer"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.adminNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beloning.FirstOrDefault().beschrijving)
                </td>


            </tr>

        </table>

    </div>
}
</div>


<script type="text/javascript">



       $("#moduletable").each(function () {
           var date = $(this).find("#beginDatum").text(); 
          

            var jaar = date.substr(6, 4);
            var maand = date.substr(3, 2);
            var dag = date.substr(0, 2);
            var uur = date.substr(11, 2);
            var min = date.substr(14, 2);
            var sec = date.substr(17, 2);

            var datum = new Date(jaar, maand, dag, uur, min, sec);
            datum.setMonth(date.getMonth() - 1);
            alert(datum);

            var myCountdown1 = new Countdown({
                time: datum, // 86400 seconds = 1 day
                width: 300,
                height: 60,
                rangeHi: "month",
                style: "flip"	// <- no comma on last item!
            });

         //   $(this).find("#countdowntimer").text() = myCountdown1;

        });
    
    
    





</script>