@model JPP.BL.Domain.Modules.AgendaModule

@{
    ViewBag.Title = "";
    Layout = "";
}

<h2>Actieve agendamodule</h2>

<p>
    @Html.ActionLink("Agenda module aanmaken", "_Create")
</p>
@if (Model.naam != null)
{
<table class="table">
    <tr>
        <th>
          Admin naam
        </th>
        <th>
            Inhoud
        </th>
        <th>
           Begin datum
        </th>
        <th>
            Eind datum
        </th>
        <th>
            Vraag
        </th>
        <th>
            Status
        </th>
        <th>
            Thema
        </th>
        <th>
            Beloning
        </th>

        <th id="settingsLayout">Instellingen</th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.adminNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.beginDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.eindDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.centraleVraag.inhoud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.thema.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.beloning.naam)
        </td>
        <td>
            @Html.ActionLink("Wijzig", "_Edit", new { id = Model.ID }) |
            @Html.ActionLink("Details", "_Details", new { id = Model.ID }) |
            @Html.ActionLink("Verwijder", "_Delete", new { id = Model.ID }) |
            @if (Model.agendaAntwoorden.Count == 0)
            {
                <h4>Geen antwoorden</h4>

            }
            else
            {
                <h4>@Html.ActionLink("Beheer alle antwoorden(" + Model.agendaAntwoorden.Count + ")", "AgdAntwoorden", "Antwoord", new { id = Model.ID }, null)</h4>

            }
           </td>
    </tr>

</table>
}
else
{
    <p>Geen actieve agendamodule gevonden.</p>
}


